{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            { "classes": false, "functions": false }
        ],
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-member-accessibility": [
            "error",
            {
                "accessibility": "no-public",
                "overrides": {
                    "properties": "explicit"
                }
            }
        ],
        "@typescript-eslint/explicit-function-return-type": ["off"]
    }
}
